.App {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


hr {
  background-color: red;
  height: 2px;
}

body {
  min-height: 100vh;
  background-color: black;
}

p {
  color: red;
}


h3 {
  color: red;
}