.App {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container {
  padding: 20px 2.5%;
}

hr {
  background-color: red;
  height: 2px;
}

body {
  min-height: 100vh;
  background-color: black;
}

p {
  color: red;
}


h3 {
  color: red;
}


label {
  color: white;
}