.App {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100vh;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


hr {
  background-color: red;
  height: 2px;
}